# Since Ansible 2.12 (core):
# # To generate an example config file (a "disabled" one with all default settings, commented out):
# #               $ ansible-config init --disabled > ansible.cfg
# #
# # Also you can now have a more complete file by including existing plugins:
# # ansible-config init --disabled -t all > ansible.cfg
#
# # For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# # Note that this file was always incomplete  and lagging changes to configuration settings
# # for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg
# #
[defaults]
# Ansible inventory sources
inventory = /tmp/ansible_home/inventory.ini

# (boolean) Set this to "False" if you want to avoid host key checking by the underlying tools Ansible uses to connect to the host
host_key_Checking = true

# (boolean) This controls whether an Ansible playbook should prompt for a vault password.
ask_vault_pass = false
